Repository epitech-mirroring/Zappy, pull requests merged in 2024-06, with the labels that each got.

#30 ✨ GUI - Implementation of the Zappy's objects
  .gitignore
  gui/src/CMakeLists.txt
  gui/src/GUI.hpp
  gui/src/HelloWorld.cpp
  gui/src/exception/ArgsException.cpp
  gui/src/exception/ArgsException.hpp
  gui/src/exception/abstract/AException.cpp
  gui/src/exception/abstract/AException.hpp
  gui/src/exception/interface/IException.hpp
  gui/src/handle_args/HandleArgs.cpp
  gui/src/handle_args/HandleArgs.hpp
  gui/src/main.cpp
  gui/src/objects/abstracts/AObject.cpp
  gui/src/objects/abstracts/AObject.hpp
  gui/src/objects/abstracts/AStone.cpp
  gui/src/objects/abstracts/AStone.hpp
  gui/src/objects/eggs/Egg.cpp
  gui/src/objects/eggs/Egg.hpp
  gui/src/objects/food/Food.cpp
  gui/src/objects/food/Food.hpp
  gui/src/objects/interface/IObject.hpp
  gui/src/objects/stones/Deraumere.cpp
  gui/src/objects/stones/Deraumere.hpp
  gui/src/objects/stones/Linemate.cpp
  gui/src/objects/stones/Linemate.hpp
  gui/src/objects/stones/Mendiane.cpp
  gui/src/objects/stones/Mendiane.hpp
  gui/src/objects/stones/Phiras.cpp
  gui/src/objects/stones/Phiras.hpp
  gui/src/objects/stones/Sibur.cpp
  gui/src/objects/stones/Sibur.hpp
  gui/src/objects/stones/Thystame.cpp
  gui/src/objects/stones/Thystame.hpp
  tests/gui/CMakeLists.txt
  tests/gui/eggs_spec.cpp
  tests/gui/get_objects_density_spec.cpp
  tests/gui/handle_args_spec.cpp
  tests/gui/hello_world_spec.cpp
Labels: :sparkles: enhancement, 📺 GUI

#32 ✨ Gui - World Implementation - 1515028240
  .gitignore
  gui/src/CMakeLists.txt
  gui/src/exception/abstract/AException.hpp
  gui/src/objects/abstracts/AObject.cpp
  gui/src/objects/abstracts/AObject.hpp
  gui/src/objects/abstracts/AStone.cpp
  gui/src/objects/abstracts/AStone.hpp
  gui/src/objects/eggs/Egg.cpp
  gui/src/objects/eggs/Egg.hpp
  gui/src/objects/food/Food.cpp
  gui/src/objects/food/Food.hpp
  gui/src/objects/interface/IObject.hpp
  gui/src/objects/stones/Deraumere.cpp
  gui/src/objects/stones/Deraumere.hpp
  gui/src/objects/stones/Linemate.cpp
  gui/src/objects/stones/Linemate.hpp
  gui/src/objects/stones/Mendiane.cpp
  gui/src/objects/stones/Mendiane.hpp
  gui/src/objects/stones/Phiras.cpp
  gui/src/objects/stones/Phiras.hpp
  gui/src/objects/stones/Sibur.cpp
  gui/src/objects/stones/Sibur.hpp
  gui/src/objects/stones/Thystame.cpp
  gui/src/objects/stones/Thystame.hpp
  gui/src/position/Position.cpp
  gui/src/position/Position.hpp
  gui/src/world/World.cpp
  gui/src/world/World.hpp
  tests/gui/CMakeLists.txt
  tests/gui/EggsSpec.cpp
  tests/gui/HandleArgsSpec.cpp
  tests/gui/ObjectsDensitySpec.cpp
  tests/gui/ObjectsPositionsSpec.cpp
  tests/gui/WorldSpec.cpp
Labels: :sparkles: enhancement, 📺 GUI

#33 Gui/gui trantorians classes implementation
  gui/src/CMakeLists.txt
  gui/src/trantorians/Actions.cpp
  gui/src/trantorians/Actions.hpp
  gui/src/trantorians/Trantorian.cpp
  gui/src/trantorians/Trantorian.hpp
  gui/src/trantorians/Tribes.cpp
  gui/src/trantorians/Tribes.hpp
  tests/gui/CMakeLists.txt
  tests/gui/TrantorianMethods.cpp
  tests/gui/TribesMethods.cpp
Labels: 📺 GUI

#34 :robot: Server implementation
  .gitignore
  .idea/Zappy.iml
  .idea/inspectionProfiles/Project_Default.xml
  CMakeLists.txt
  Jenkinsfile
  Makefile
  server/CMakeLists.txt
  server/include/CMakeLists.txt
  server/include/array.h
  server/include/buffer.h
  server/include/client.h
  server/include/egg.h
  server/include/game.h
  server/include/hashmap.h
  server/include/inventory.h
  server/include/map.h
  server/include/server.h
  server/include/team.h
  server/include/trantorian.h
  server/src/CMakeLists.txt
  server/src/array.c
  server/src/array_bis.c
  server/src/buffer.c
  server/src/client.c
  server/src/egg.c
  server/src/game.c
  server/src/hashmap_bucket.c
  server/src/hashmap_op.c
  server/src/hashmap_others.c
  server/src/hello_world.c
  server/src/inventory.c
  server/src/main.c
  server/src/map.c
  server/src/map_bis.c
  server/src/server.c
  server/src/server_bis.c
  server/src/team.c
  server/src/trantorian.c
  tests/CMakeLists.txt
  tests/server/CMakeLists.txt
  tests/server/hello_world_spec.cpp
Labels: :sparkles: enhancement, 📡 server

#36 Server/gui commands
  Makefile
  server/include/egg.h
  server/include/game.h
  server/include/gui.h
  server/include/map.h
  server/include/team.h
  server/include/trantorian.h
  server/src/CMakeLists.txt
  server/src/egg.c
  server/src/game.c
  server/src/gui_commands/basic_log.c
  server/src/gui_commands/broadcast.c
  server/src/gui_commands/egg_log.c
  server/src/gui_commands/gui.c
  server/src/gui_commands/map_info.c
  server/src/gui_commands/map_log.c
  server/src/gui_commands/pic_log.c
  server/src/gui_commands/player_info.c
  server/src/gui_commands/player_log.c
  server/src/gui_commands/ressource_log.c
  server/src/gui_commands/time_log.c
  server/src/inventory.c
  server/src/server.c
  server/src/team.c
Labels: :sparkles: enhancement, 📡 server

#38 :sparkles: Add AI actions, network and food hunting behaviour
  Dockerfile.test
  Jenkinsfile
  gui/CMakeLists.txt
  gui/src/objects/eggs/Egg.hpp
  robots/main.py
  robots/src/Bot.py
  robots/src/Network.py
  robots/src/Objects.py
  robots/src/World.py
  robots/src/__init__.py
  robots/src/actions/AbstractAction.py
  robots/src/actions/Broadcast.py
  robots/src/actions/ConnectNbr.py
  robots/src/actions/DropDown.py
  robots/src/actions/Eject.py
  robots/src/actions/Fork.py
  robots/src/actions/Forward.py
  robots/src/actions/Inventory.py
  robots/src/actions/Left.py
  robots/src/actions/Look.py
  robots/src/actions/PickUp.py
  robots/src/actions/Right.py
  robots/src/actions/__init__.py
  robots/tests/Objects_test.py
  tests/CMakeLists.txt
Labels: :sparkles: enhancement, 👾 IA

#40 :ambulance: Fixed exception when invalid input as time unit
  gui/src/game/Game.cpp
  gui/src/game/display/Display.cpp
  gui/src/game/display/Display.hpp
Labels: :bug: bug

#39 Server/ai commands
  server/CMakeLists.txt
  server/include/CMakeLists.txt
  server/include/actions.h
  server/include/buffer.h
  server/include/client.h
  server/include/game.h
  server/include/gui.h
  server/include/hashmap.h
  server/include/ia_actions/broadcast.h
  server/include/ia_actions/look.h
  server/include/incantation.h
  server/include/map.h
  server/include/server.h
  server/include/team.h
  server/include/trantorian.h
  server/src/CMakeLists.txt
  server/src/array.c
  server/src/buffer.c
  server/src/client.c
  server/src/egg.c
  server/src/game.c
  server/src/gui_commands/broadcast.c
  server/src/gui_commands/egg_log.c
  server/src/gui_commands/gui.c
  server/src/gui_commands/pic_log.c
  server/src/gui_commands/player_info.c
  server/src/gui_commands/player_log.c
  server/src/gui_commands/ressource_log.c
  server/src/hashmap_bucket.c
  server/src/hashmap_others.c
  server/src/ia_actions/broadcast.c
  server/src/ia_actions/connect_nbr.c
  server/src/ia_actions/eject.c
  server/src/ia_actions/fork.c
  server/src/ia_actions/forward.c
  server/src/ia_actions/game_action.c
  server/src/ia_actions/incantation.c
  server/src/ia_actions/incantation_bis.c
  server/src/ia_actions/inventory.c
  server/src/ia_actions/left.c
  server/src/ia_actions/look/look.c
  server/src/ia_actions/look/look_direction.c
  server/src/ia_actions/look/look_utils.c
  server/src/ia_actions/right.c
  server/src/ia_actions/set.c
  server/src/ia_actions/take.c
  server/src/inventory.c
  server/src/main.c
  server/src/manage_teams_places.c
  server/src/map_bis.c
  server/src/server.c
  server/src/server_bis.c
  server/src/shutdown_server.c
  server/src/team.c
  server/src/trantorian.c
  tests/server/CMakeLists.txt
  tests/server/array_tests.cpp
Labels: :sparkles: enhancement, 📡 server

#41 :sparkles: Help menu / Trantorians info / log menu and various fixes
  gui/src/game/Game.cpp
  gui/src/game/Game.hpp
  gui/src/game/display/Display.cpp
  gui/src/game/display/Display.hpp
  gui/src/game/events/Events.cpp
  gui/src/game/events/Events.hpp
  gui/src/handle_args/HandleArgs.cpp
  server/src/ia_actions/set.c
  server/src/ia_actions/take.c
Labels: 📺 GUI

#44 🚑 Gui/fix not mandatory args handling
  gui/src/game/Game.cpp
  gui/src/handle_args/HandleArgs.cpp
Labels: :bug: bug

#42 🐛 Server/fix last bugs
  Makefile
  server/CMakeLists.txt
  server/include/client.h
  server/include/game.h
  server/include/gui.h
  server/include/server.h
  server/src/CMakeLists.txt
  server/src/buffer.c
  server/src/client.c
  server/src/game.c
  server/src/get_ia_with_fd.c
  server/src/gui_commands/gui.c
  server/src/gui_commands/map_info.c
  server/src/gui_commands/map_log.c
  server/src/gui_commands/player_info.c
  server/src/gui_commands/player_log.c
  server/src/ia_actions/forward.c
  server/src/ia_actions/game_action.c
  server/src/ia_actions/left.c
  server/src/ia_actions/right.c
  server/src/manage_teams_places.c
  server/src/map.c
  server/src/map_init.c
  server/src/map_utils.c
  server/src/server.c
  server/src/server_bis.c
Labels: :bug: bug, 📡 server

#45 Gui - various fixes on the display
  gui/src/game/Game.cpp
  gui/src/game/display/Display.cpp
  gui/src/trantorians/Teams.cpp
  gui/src/trantorians/Teams.hpp
  gui/src/trantorians/Trantorian.cpp
  gui/src/trantorians/Trantorian.hpp
Labels: :bug: bug

#46 :ambulance: fixed orientation
  gui/src/trantorians/Trantorian.cpp
Labels: :bug: bug

#47 🚑 Gui/fix spamming requests
  gui/src/game/Game.cpp
  gui/src/trantorians/Trantorian.cpp
Labels: :bug: bug, :sparkles: enhancement, 📺 GUI

#49 Gui/handle seg command
  gui/src/game/Game.cpp
  gui/src/game/display/Display.cpp
  gui/src/game/display/Display.hpp
Labels: 📺 GUI

#50 :memo: Gui - documentation
  gui/docs/README.md
  gui/docs/ZappyGUI.pdf
  gui/docs/readme_images/readme_banner.png
Labels: :memo: documentation, 📺 GUI
